/*=================================
Containers Style
===================================*/
.section-container {
    padding: 0 50px;
}

@media only screen and (max-width: 767px) {
    .section-container {
        padding: 0 5px;
    }
}

main {
    min-height: 80vh;
}


/*=================================
Section Titles Style 
===================================*/

.section-title {
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
}

.section-title h2 {
    font-family: 'Far Fanni';
    font-size: 20px;
    font-weight: 500;
    color: #05194E;
    margin-bottom: 20px;
}

.section-title p {
    font-family: 'Far Fanni';
    font-size: 10px;
    font-weight: 500;
    color: #948F8F;
}



/*=================================
Section Areas
===================================*/

.categories-area,
.teachers-area,
.news-area {
    padding-bottom: 35px;
}

.courses-area .default-btn {
    margin-bottom: -20px;
}

.suggestion-area {
    padding-top: 40px;
}

.categories-area,
.teachers-area {
    background-color: #f5f5f5;
}

.services-right-section {
    background-image: url("../../assets/images/services-Item-bg.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 100% 100%;
    padding-left: 65px;
}

.services-left-section {
    text-align: left;
}

.services-left-section img {
    width: 88%;
    -webkit-animation: border-transform 10s linear infinite alternate forwards;
    animation: border-transform 10s linear infinite alternate forwards;
}

.news-area .card.news-item{
    margin-left: 5px;
    margin-right: 5px
}

@media only screen and (max-width: 767px) {
    .services-right-section {
        padding-left: 0;
    }

    .services-left-section {
        text-align: center;
    }

}

.shape5 {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
  }

  .shape5 img {
    -webkit-animation: movebounce 5s linear infinite;
    animation: movebounce 5s linear infinite;
  }

/*==========================================
Suggestion Area Play Button Animation
============================================*/
.play-btn-area {
    background-image: url("../../assets/images/suggestion-img2.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 220px 0;
    text-align: center;
    border-radius: 10px;
}

.play-btn-area .play-btn {
    display: inline-block;
    align-items: center;
    margin: 0 auto;
}

.play-btn-area .play-btn i {
    display: inline-block;
    width: 85px;
    height: 85px;
    line-height: 87px;
    background-color: #eee;
    color: #08a9e6;
    font-size: 30px;
    border-radius: 50px;
    margin: 0 auto;
    padding-left: 5px;
    position: relative;
    transition: 0.5s;
    text-align: center;
    z-index: 1;
}

.play-btn-area .play-btn i::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50px;
    animation: ripple 2s infinite ease-in-out;
    transition: 0.5s;
}

@media only screen and (max-width: 767px){
    .categories-area .default-btn {
        margin-bottom: 20px;
    }

    .play-btn-area {
        padding: 100px 0;
      }

      .play-btn-area .play-btn i {
        width: 60px;
        height: 60px;
        line-height: 62px;
        font-size: 20px;
      }
}



/*==========================================
Suggestion Area Suggestion Form
============================================*/
.suggestion-form {
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.06);
}

.suggestion-form .top {
    background-color: #08A9E6;
    color: #fff;
    text-align: center;
    padding: 40px 35px 37px;
    border-radius: 10px 10px 0 0;
}

.suggestion-form .top h3 {
    font-size: 20px;
    font-weight: 600;
}

.suggestion-form-content {
    padding: 35px 35px 42px;
}


.suggestion-form input {
    width: 100%;
    height: 50px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    font-size: 12px;
    color: #999;
    padding: 15px 15px;
    margin-bottom: 13px;

}

.suggestion-form input[type=textarea] {
    min-height: 150px;
}

.suggestion-form button {
    width: 100%;
    height: 50px;
    border: 0;
}

@media only screen and (max-width: 767px) {
    .suggestion-form-content {
        padding: 30px 25px 27px;
    }

    .suggestion-form .top {
        padding: 30px 25px 27px;
        border-radius: 10px 10px 0 0;
    }

    .suggestion-form input {
        height: 45px;
    }

    .suggestion-form .top h3 {
        font-size: 16px;
    }
}

