.forgot-password-area .login-form {
    width: 500px;
    margin: -250px auto -160px;
}

.forgot-password-area .bottom-polygon {
    clip-path: polygon(0% 56%, 100% 0, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0% 56%, 100% 0, 100% 100%, 0% 100%);
    height: 250px;
    bottom: 0;
   
}

.back-to-login a {
    color: #EB272E;
    font-size: 13px;
}

.back-to-login svg {
    color: #EB272E;
    font-size: 13px;
    margin-left: 5px;
    margin-bottom: -2px;
}

.back-to-login:hover svg,
.back-to-login:hover a {
    color: #08A9E6;
}