/*==========================================
swiper
============================================*/
.swiper-wrapper {
    padding: 40px 0 30px;
}

.navigation-false .swiper-wrapper {
    padding-top: 0;
}

.pagination-false .swiper-wrapper {
    padding-bottom: 0;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-family: swiper-icons;
    font-size: 19px !important;
    background-color: #fff;
    box-shadow: 0 0 5px #eee;
    color: #08A9E6;
    border: 1px solid #eeee;
    border-radius: 100%;
    padding: 9px 14px;
}

.swiper-button-prev {
    top: 20px !important;
    right: 20px !important;
}

.swiper-button-next {
    top: 20px !important;
    left: auto !important;
    right: 65px !important;
}

.swiper-pagination {
    bottom: -5px!important;
}

@media only screen and (max-width: 767px) {
    .swiper-slide {
        width: 100% !important;
    }

    .swiper-button-next {
        right: auto !important;
        left: 20px !important;
    }
}


.swiper-grid-column>.swiper-wrapper {
    flex-direction: unset !important;
}


.swiper-container {
    width: 480px;
  }
  
  @media screen and (min-width: 640px) {
    .swiper-container {
      width: 640px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .swiper-container {
      width: 768px;
    }
  }