.all-courses-area {
    overflow: hidden;
}

.all-courses-area .panel-sidebar ul li:nth-child(4) a {
    background-color: #fff;
    color: #777;
}

.all-courses-area .courses-table th.remove-course,
.all-courses-area .courses-table td.remove-course {
    display: none;
}