.courses-list-area .courses-banner-bg {
    background-image: url("../../assets/images/banner-courses.jpg");
}

.courses-list-area .inner-banner .inner-title svg {
    font-size: 50px;
    margin-bottom: 20px;
}

.course-item .card-title {
    font-size: 14px;
    font-weight: 600;
    color: #444;
}

@media only screen and (max-width: 767px) {
    .courses-list-area .grid-show {
        display: none !important;
    }
}